@import "tailwindcss";
/* Plyr styles are imported via JS in layout.tsx to avoid @import order issues */

body {
  background: var(--background);
  color: var(--foreground);
}


@theme {

  --background: #101827;
  --foreground: #ffffff;
  /* Layout sizes */
  --navbar-height: 77px;
  --sidebar-width-left: 300px;
  --sidebar-width-right: 300px;
  --sidebar-collapsed-width: 68px;

  --color-primary: rgba(255 255 255);
  --color-secondary: rgba(170 170 170);
  --color-muted: #697282;
  --color-disabled: rgba(90 90 90);

  --color-accent: #09CAC8;
  --color-success: rgba(74 222 128);
  --color-warning: rgba(251 191 36);
  --color-danger: rgba(248 113 113);
}

/* scrollbar macOS-like */
.scroll-macos::-webkit-scrollbar {
  height: 6px;
  /* pentru horizontal */
}

.scroll-macos::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-macos::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 9999px;
}

.scroll-macos::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.55);
}

.scroll-macos {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.35) transparent;
}

.scroll-macos::-webkit-scrollbar-thumb {
  opacity: 0;
}

.scroll-macos:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}